
/*0c67a0*/
html{
  /*background-color: #0c67a0 white;*/
  color: #F5F5F5;
  font-family: "Calibri", Times, sans-serif;
}

h1{
  font-size: 500%;

}

/* CSS COMMUN--------------------------------------------------------------*/

/* ------------------------------------------------------------------------*/

/* CSS INDEX---------------------------------------------------------------*/
/*général*/
.index h1 {
	margin-top: 0px;
	padding: 2%;
	background-color: #2A88AD;
}

.index article {
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom:4%;
}
.index article h2 {
	color: #2A8BBC;
	font-size:300%;
}

.index article p {
	border: 2px solid #EAEAEA;
	background-color: #F2F2F2;
	border-radius: 15px;
	color: #888888;
	padding: 4%;
	font-size: 200%;
}

/* ------------------------------------------------------------------------*/

/* CSS evenement---------------------------------------------------------------*/
/*général*/
.evenement h1 {
	margin-top: 0px;
	padding: 2%;
	background-color: #2A88AD;
}

.evenement article {
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom:4%;
}
.evenement article h2 {
	color: #2A8BBC;
	font-size:300%;
}

.evenement article p {
	border: 2px solid #EAEAEA;
	background-color: #EFEFEF;
	border-radius: 15px;
	color: #888888;
	padding: 4%;
	font-size: 200%;
}

.evenement article ul {
	border: 2px solid #EAEAEA;
	border-radius: 15px;
	color: #888888;
	padding: 0%;
	font-size: 200%;
	list-style: none;
}

.evenement article ul li {

	border-bottom: 1px solid grey;
	padding: 2%;
}

.evenement li:active {
	background-color: #C6C6C6;
}

.evenement h1 img{
	width: 7%;
	display: inline-block;
	float: right;
}

/* ------------------------------------------------------------------------*/

/* CSS PROFIL--------------------------------------------------------------*/

.profil h1 {
	margin: 0px;
	padding: 2%;
	background-color: #2A88AD;
	
}

.profil article {
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom:4%;
}

.profil article p {
	border: 2px solid #EAEAEA;
	background-color: #F2F2F2;
	border-radius: 15px;
	color: #888888;
	padding: 4%;
	font-size: 200%;
}

.profil article h2 {
	color: #2A8BBC;
	font-size:300%;
	margin: 0%;
}

.profil article ul {
	border: 2px solid #EAEAEA;
	border-radius: 15px;
	color: #888888;
	padding: 0%;
	font-size: 200%;
	list-style: none;
}

.profil article ul li {

	border-bottom: 1px solid grey;
	padding: 2%;
}

.profil li:active {
	background-color: #C6C6C6;
}

/* zone pas sur */
.profil .en_tete h2 img{
	display: inline-block;
	float: left;
	margin-right: 3%;
	height: 100%;
}

.profil .en_tete {
	height:23%;
	background-color: /*#ABDCEF*/  #F2F2F2;
	padding: 2%;
}

/*------------------------------------------------------------------------------*/
/* CSS menu*/
.menu{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #F5F5F5;
  width: 100%;
  height: 6%;
  border-top: solid;
  border-color:black;
}
.menu * {
  margin: 0;
  padding: 0;

}
.menu * * li{
  float: right;
}
.menu * *{
  padding-bottom: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 200%;
  width: 33%;
  color: black;
  text-align: center;
}

.menu * * *{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}
.menu * * #courant{
  background-color: grey;
}
/*------------------------------------------------------------------------------*/
