html{
  /*background-color: #0c67a0 white;*/
  color: #F5F5F5;
  font-family: "Calibri", Times, sans-serif;
}

h1{
  font-size: 500%;
}

/* CSS COMMUN--------------------------------------------------------------*/

/* ------------------------------------------------------------------------*/

.formulaire{
    width:100%;
    padding:10px;

}
.formulaire .inner-wrap{
    background: #F8F8F8;
    padding: 5%;
    border-radius: 6px;
    margin-bottom: 15px;
}
.formulaire h1{
    background: #2A88AD;
    margin: 0;
    padding: 5%;
}

label{
    display: block;
    color: #888;
    font-size: 200%;
    margin-bottom: 15px;
    background-color: black;
}
label *{
  display:inline-block;
  vertical-align: middle;
}
.formulaire input[type="button"],
.formulaire input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}
.formulaire  input[type="button"]:hover,
.formulaire input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.formulaire input[type="text"],
.formulaire input[type="date"],
.formulaire input[type="datetime"],
.formulaire input[type="email"],
.formulaire input[type="number"],
.formulaire input[type="search"],
.formulaire input[type="time"],
.formulaire input[type="url"],
.formulaire input[type="password"],
.formulaire input[type="submit"]
.formulaire textarea,
.formulaire select {

    width: 70%;
    height: 150px;
    margin: 0;
    font-size: 200%;
    padding-left: 15px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.formulaire label p{
  width: 25%;
  padding-right: 1%;
  text-align:right;
  margin: 0;
}
.formulaire .section{

    color: #2A88AD;
    font-size: 200%;
    margin-bottom: 5px;

}


.formulaire .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial,Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}
.autreliste *{
	display:inline-block;
}

.formulaire .btnAjouterChamp {
  width:40px;
  height:40px;
	background-color:#2A88AD;
	border-radius:50%;
  border: 1px solid #257C9E;
	cursor:pointer;
	color:#fff;
	font-size:27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
 	float:right;
	margin-top:4%;
}
.formulaire .btnAjouterChamp:hover {
	background: #2A6881;
}
.formulaire .btnAjouterChamp:active {}


.connexion img{
	width:40%;
	margin:0% 30%;
	padding:0;
}
.connexion a{
	color:#2A88AD;
	font: 12px Arial,Helvetica, sans-serif;
	float:right;

}

.connexion a:hover{
	color:#2f6627;
}
.connexion *{
	display:inline-block;
	vertical-align:top;
}


/* CSS INDEX---------------------------------------------------------------*/
/*général*/
.index h1 {
	margin-top: 0px;
	padding: 2%;
	background-color: #2A88AD;
}

.index article {
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom:4%;
}
.index article h2 {
	color: #2A8BBC;
	font-size:300%;
}

.index article p {
	border: 2px solid #EAEAEA;
	background-color: #F2F2F2;
	border-radius: 15px;
	color: #888888;
	padding: 4%;
	font-size: 200%;
}

/* ------------------------------------------------------------------------*/

/* CSS evenement---------------------------------------------------------------*/
/*général*/
.evenement h1 {
	margin-top: 0px;
	padding: 2%;
	background-color: #2A88AD;
}

.evenement article {
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom:4%;
}
.evenement article h2 {
	color: #2A8BBC;
	font-size:300%;
}

.evenement article p {
	border: 2px solid #EAEAEA;
	background-color: #EFEFEF;
	border-radius: 15px;
	color: #888888;
	padding: 4%;
	font-size: 200%;
}

.evenement article ul {
	border: 2px solid #EAEAEA;
	border-radius: 15px;
	color: #888888;
	padding: 0%;
	font-size: 200%;
	list-style: none;
}

.evenement article ul li {

	border-bottom: 1px solid grey;
	padding: 2%;
}

.evenement li:active {
	background-color: #C6C6C6;
}

.evenement h1 img{
	width: 7%;
	display: inline-block;
	float: right;
}

/* ------------------------------------------------------------------------*/

/* CSS PROFIL--------------------------------------------------------------*/

.profil h1 {
	margin: 0px;
	padding: 2%;
	background-color: #2A88AD;

}

.profil article {
	padding-right: 3%;
	padding-left: 3%;
	margin-bottom:4%;
}

.profil article p {
	border: 2px solid #EAEAEA;
	background-color: #F2F2F2;
	border-radius: 15px;
	color: #888888;
	padding: 4%;
	font-size: 200%;
}

.profil article h2 {
	color: #2A8BBC;
	font-size:300%;
	margin: 0%;
}

.profil article ul {
	border: 2px solid #EAEAEA;
	border-radius: 15px;
	color: #888888;
	padding: 0%;
	font-size: 200%;
	list-style: none;
}

.profil article ul li {

	border-bottom: 1px solid grey;
	padding: 2%;
}

.profil li:active {
	background-color: #C6C6C6;
}

/* zone pas sur */
.profil .en_tete h2 img{
	display: inline-block;
	float: left;
	margin-right: 3%;
	height: 100%;
}

.profil .en_tete {
	height:23%;
	background-color: /*#ABDCEF*/  #F2F2F2;
	padding: 2%;
}

/*------------------------------------------------------------------------------*/
/* CSS menu*/
.menu{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #F5F5F5;
  width: 100%;
  height: 6%;
  border-top: solid;
  border-color:black;
}
.menu * {
  margin: 0;
  padding: 0;

}
.menu * * li{
  float: right;
}
.menu * *{
  padding-bottom: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 200%;
  width: 33%;
  color: black;
  text-align: center;
}

.menu * * *{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}
.menu * * #courant{
  background-color: grey;
}
/*------------------------------------------------------------------------------*/
